$sm: ( min: 576px);
$md: ( min: 800px);
$lg: ( min: 992px);
$xl: ( min: 1200px);

$max-width: 1200px; //max width for the container class

$small-only: ( max: map-get($sm, min) - 1);
$small-up: ( min: map-get($sm, min));
$small-down: ( max: map-get($md, min) - 1);

$medium-up: ( min: map-get($md, min));
$medium-down: ( max: map-get($lg, min) - 1);
$medium-only: ( min: map-get($md, min), max: map-get($lg, min) - 1);

$large-down: ( max: map-get($lg, min) - 1);
$large-up: ( min: map-get($lg, min));

$xlarge-down: ( max: map-get($xl, min) - 1);
$xlarge-up: ( min: map-get($xl, min));

// Responsive breakpoint mixin
@mixin respond-to($map) {
  $query: "";
  @if map-has-key($map, min) {
    $query: append($query, (min-width: #{map-get($map, min)}))
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, and)
  }
  @if map-has-key($map, max) {
    $query: append($query, (max-width: #{map-get($map, max)}))
  }
  @media screen and #{$query} {
    @content;
  }
}
